fieldset {
    border: 0;
}

legend {
    font-size: 24px;
    font-weight:bold;
}

input [type=text],input [type=password],label {
    display:block;
    width:70%;
    font-weight:bold;
}
textarea {
    width :99%
    height :200px;
}

input[type=text],input[type=password],textarea {
    border:1px solid #123;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    -moz-box-shadow: inset 1px 2px 4px #789;
    -webkit-box-shadow:inset 1px 2px 4px #789;
    box-shadow: inset 1px 2px 4px #789;
    padding:4px;
    margin: 0 0 4px;
    font-size: 16px;
    font-family: "微软雅黑"，georgia,serif;
}


